@model Employee

@{
    ViewData["Title"] = "Home";
    ViewData["src"] = "https://localhost/images/EmployeeInCoat.png";
}

<br/>
<div id="Header" class="row mt-3">
    <div class="col-md-2 text-center">
        <img src="@(Model?.ProfilePic?.FileURI ?? ViewData["src"])" 
             style="width:175px;height:175px;border-radius:50%" />
        <p class="mt-3" style="font-size:22px;font-weight:400">
            @(Model?.FirstName != null && Model?.LastName != null ? $"{Model.FirstName} {Model.LastName}" : Model?.Email)
        </p>
    </div>
    <div class="col-md-7 ms-5">
        <p style="font-weight:600;font-size:18px;margin-bottom: 0;">Summary</p>
        <p class="mt-1 mb-1" style="color:dimgray">
            @(Model?.Summary is null
                ? "Kindly add your summary by going to the details page."
                : Model.Summary
             )
        </p>

        
    </div>

    <div class="col-md-2 ms-5 mt-1">
        <p style="font-weight:700;font-size:18px;margin-bottom: 0">Designation</p>
        <p style="color:dimgray">@(Model?.EmpDesignation != null ? Model.EmpDesignation : "---")</p>

        <p style="font-weight:700;font-size:18px;margin-bottom: 0;">Annual Salary</p>
        <p style="color:dimgray">@(Model?.Salary != null ? $"${Model.Salary}" : "---")</p>

        <p style="font-weight:700;font-size:18px;margin-bottom: 0;">Location</p>
        <p style="color:dimgray">@(Model?.OfficeLocation != null ? Model.OfficeLocation : "---")</p>
    </div>

</div>

<hr style="margin-top:35px" />
<h4>Work Experience</h4>

@if(Model?.WorkExperience is null || Model.WorkExperience.Count is 0)
{
    <p class="mt-3" style="color:dimgray">Kindly add your work experience by going to details page.
    </p>
}
else foreach(var experience in Model.WorkExperience)
{
    <div id="WorkHistory" class="row" style="margin-top:30px">
        <p style="font-weight:700;font-size:18px;margin-bottom:3px">@experience.Title</p>
        
        <p style="font-weight:400;font-size:14px;margin-bottom:3px;color:dimgrey">
            @experience.StartDate?.ToString("dd/MMM/yyyy") -
            @(experience.PresentlyWorking.HasValue && experience.PresentlyWorking.Value 
                ? "Present" 
                : experience.EndDate?.ToString("dd/MMM/yyyy") ?? "N/A"
                )
        </p>
        <p style="margin-bottom:0;color:dimgray">
            @experience.Description
        </p>
            <form method="post" asp-action="RemoveExperience">
                <input type="hidden" id="Id" name="Id" value="@experience.Id" />
                <button class="btn btn-link remove-experience" style="text-decoration:none;margin-left:-13px" type="button">Remove</button>
            </form>
    </div>
    <hr />
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.remove-experience').on('click', function (e) {
                e.preventDefault();

                if (confirm('Are you sure you want to remove this experience?')) {
                    var form = $(this).closest('form');
                    var id = form.find('#Id').val();

                    $.ajax({
                        type: 'POST',
                        url: form.attr('action'),
                        data: { Id: id },
                        success: function () {
                            location.reload();
                        },
                        error: function () {
                            alert('An error occurred while trying to remove the experience.');
                        }
                    });
                }
            });
        });
    </script>
}





















@* <div id="WorkHistory" class="row" style="margin-top:30px">   
    <p style="font-weight:700;font-size:18px;margin-bottom:3px">Full Stack Web Developer</p>
    <p style="font-weight:400;font-size:14px;margin-bottom:3px;color:dimgrey">May 2023 - Present</p>
    <p style="margin-bottom:0;color:dimgray">
        Developed an HRMS (Human Resource Management System) with
        features like CRUD operations, authentication, authorization, user-roles, role
        based access, password reset, profile pic upload, sending email and more,
        both in ASP.NET MVC and in ASP.NET Web API (a separate backend to be
        used with any front end technology).
        Front end development using WinUI3 and Blazor to connect with the web
        api which i listed above (these are slow phased side projects)
    </p>
</div>
<hr/>

<div id="WorkHistory" class="row" style="margin-top:30px">
    <p style="font-weight:700;font-size:18px;margin-bottom:3px">Security Researcher</p>
    <p style="font-weight:400;font-size:14px;margin-bottom:3px;color:dimgrey">Feb 2021 - May 2023</p>
    <p style="margin-bottom:0;color:dimgray">
        Procuring and Analyzing Threats, mainly windows malwares.
        Reverse Engineering windows malwares to understand the malicious
        behavior.
        Linux, Network Security, Cryptography,
        Penetration Testing, Cyber security concepts,
        Operating Systems,
        Native WinAPI programming using Visual C/C++.
    </p>
</div>
<hr />

<div id="WorkHistory" class="row" style="margin-top:30px">
    <p style="font-weight:700;font-size:18px;margin-bottom:3px">Programmer Analyst</p>
    <p style="font-weight:400;font-size:14px;margin-bottom:3px;color:dimgrey">Sep 2017 - Feb 2017</p>
    <p style="margin-bottom:0;color:dimgray">
        I was part of a DR testing team (Disaster recovery testing), where we simulate
        a disaster and test how an application responds to it. Clients across the world
        came to us to check how resilient are their applications against any disaster.
        So we test it and then document the whole process and submit the report to
        the client.
    </p>
</div>
<hr/>

<div id="WorkHistory" class="row" style="margin-top:30px">
    <p style="font-weight:700;font-size:18px;margin-bottom:3px">Desktop Developer</p>
    <p style="font-weight:400;font-size:14px;margin-bottom:3px;color:dimgrey">June 2016 - Sep 2017</p>
    <p style="margin-bottom:0;color:dimgrey">
        Developed a Host based Intrusion Detection System, a desktop application
        for Windows OS in .NET.
        It monitors the processes and files in the background.
        The admin keep restrictions on the processes and files in the system.
        The application will monitor for the violation of these restrictions and will
        trigger an alert in the system if any violation occurs.
        There are some experimental features like Process Port Mapper, Services
        Monitoring, User Input Monitoring (Keystroke logger, mouse clicks and
        coordinates logger), packet
        capturing (both ethernet and wifi) and Alerts mailing.
        Also there is an authentication mechanism with MSSQL server.
    </p>
</div> *@


















@* <br/>
<div class="col-12 d-flex justify-content-center align-items-center">
    <header>
        <h1 class="display-4">Welcome @Model.FirstName</h1>
    </header>
</div>
<br />
<div class="col-12 d-flex justify-content-center align-items-center">   
    <p>
        Nunc vestibulum sodales leo quis molestie. Proin at velit facilisis sem tristique vehicula. Quisque consequat
        ultrices luctus. Sed auctor orci id dolor gravida sagittis. Proin ut nulla nec sapien cursus faucibus pharetra
        non nibh. Nulla pulvinar felis in magna malesuada dapibus. Quisque feugiat quis nunc sit amet ornare.
        Nulla et finibus orci, ut luctus turpis. Nullam sapien libero, laoreet non nisl a, rutrum molestie erat.
        Nam ornare a purus non congue. Praesent at tempus lacus. Nam convallis ex rhoncus ullamcorper egestas.
        Phasellus odio velit, posuere hendrerit mollis quis, mollis sed metus. Suspendisse ut auctor nisi.
        Etiam lacinia lacus et tellus rhoncus tempor. Aliquam ut porta lorem, vitae aliquam ex. Aenean dolor diam, congue et ullamcorper eget, suscipit egestas nunc.
        Sed ullamcorper, dolor id pharetra eleifend, sem leo consectetur felis, a sagittis lectus nisi id magna.
        Pellentesque consectetur, massa ut condimentum molestie, urna elit hendrerit lacus, eget commodo libero est sit
        amet est. Nulla facilisi. Ut vestibulum ipsum ullamcorper velit lacinia varius. Nullam faucibus ex et libero bibendum,
        ut finibus mauris sagittis. In vulputate nec tellus et egestas. Vivamus ultrices volutpat massa sed finibus.
        Aliquam aliquet tincidunt ultricies.
    </p>
</div>
<br />
<br /> *@
