@inject SignInManager<Employee> signinManager
@inject UserManager<Employee> userManager

@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var profilePicturePath = claimsIdentity?.FindFirst("ProfilePicturePath")?.Value;
    var firstName = claimsIdentity?.FindFirst("FirstName")?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap5.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Identity.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/EmployeeInCoat.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>
<body>
    <header>     
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand ms-2" style="font-size:16px" asp-action="Index">
                    <img src="~/images/EmployeeInCoat.png"
                         style="width:20px;height:20px;margin-top:2px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @if (!signinManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav me-auto mb-lg-0">                          
                            @* <li class="nav-item ms-2" style="margin-top:5px">                               
                                <a class="nav-link d-flex align-items-center"
                                   style="font-size:16px" asp-action="Index">
                                    <img src="~/images/EmployeeInCoat.png"
                                    style="width:20px;height:20px;margin-top:2px"/>
                                </a>
                            </li> *@
                            <li class="nav-item ms-4">
                                <a class="nav-link" asp-action="About"
                                   style="font-size:16px;margin-top:5px;margin-left:-5px">
                                    About
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-action="Contact"
                                   style="font-size:16px;margin-top:5px">
                                    Contact
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" 
                                   style="font-size:16px" asp-action="Signin">
                                    <i class="bi bi-person-circle" 
                                       style="font-size:20px; margin-right:7px"></i>
                                    <span>Signin</span>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav me-auto mb-lg-0">
                            <li class="nav-item ms-2 " style="margin-top:5px">
                                <a class="nav-link d-flex align-items-center"
                                   style="font-size:16px;margin-left:-17px" href="/Account/Home">                               
                                    @* <img src="~/images/EmployeeInCoat.png"
                                         style="width:20px;height:20px;margin-top:1px;margin-right:8px" /> *@
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item ms-5">
                                <a class="nav-link" asp-controller="Account" asp-action="Details"
                                   style="font-size:16px;margin-top:5px">
                                    Details
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-controller="Account" asp-action="Calender"
                                   style="font-size:16px;margin-top:5px">
                                    Calender
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-controller="Account" asp-action="Requests"
                                   style="font-size:16px;margin-top:5px">
                                    Requests
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                @if(string.IsNullOrEmpty(profilePicturePath))
                                {
                                    <a class="nav-link dropdown-toggle d-flex align-items-center"
                                       style="font-size:16px" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-person-circle" style="font-size:20px;
                                            margin-right:7px"></i>
                                        <span style="margin-right:2px">@(User.IsInRole("Admin") ? "Admin" : @firstName)</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link dropdown-toggle d-flex align-items-center"
                                       style="font-size:16px" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="@profilePicturePath" 
                                            style="height:30px;width:30px;border-radius:50%;margin-right:7px"/>
                                        <span style="margin-right:2px">@(User.IsInRole("Admin") ? "Admin" : @firstName)</span>
                                    </a>
                                }


                                <ul class="dropdown-menu dropdown-menu-end">
                                    @if(User.IsInRole("Admin"))
                                    {
                                        <li><a class="dropdown-item" asp-action="ManageUsers" asp-controller="Admin">
                                                <i class="bi bi-people-fill" style="margin-right:8px"></i>Manage Users
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" asp-action="ManageRoles" asp-controller="Admin">
                                                <i class="bi bi-person-fill-gear" style="margin-right:8px"></i>Manage Roles
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    }
                                    else if (User.IsInRole("Manager"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-controller="Manager" asp-action="Users">
                                                <i class="bi bi-people-fill" style="margin-right:8px"></i>Manage Users
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    }
                                    
                                    <li><a class="dropdown-item" asp-action="Profile" asp-controller="Account">
                                            <i class="bi bi-person-fill" style="margin-right:8px"></i>Account
                                        </a>
                                    </li>
                                    <li>
                                        <form asp-controller="Account" asp-action="Signout" method="post">
                                            <button class="dropdown-item" type="submit">
                                                <i class="bi bi-box-arrow-right" style="margin-right:8px"></i>Signout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>                        
                    }
                </div>
            </div>
        </nav><br/>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">          
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
