@model List<ManageUsersViewModel>

@{
    ViewData["Title"] = "Manage Users";
}

<div class="col-12 d-flex justify-content-center align-items-center">
    <header>
        <h2 class="display-6">Manage Users</h2>
    </header>
</div><br/>
<table class="table table-striped table-responsive">
    <thead class="">
        <tr>
            <th>Email</th>
            <th>
                Department
            </th>
            <th>
                Full Name
            </th>
            <th>
                Gender
            </th>                    
            <th>Current Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if(Model is not null)
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if(item.Department is Department.Select)
                    {
                        <p>NA</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Department)
                    }
                </td>
                <td>
                        @if (string.IsNullOrEmpty(item.FullName))
                        {
                            <p>NA</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.FullName)
                        }


                </td>
                <td>
                        @if (item.gender is Gender.Select)
                        {
                            <p>NA</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.gender)
                        }
                </td>                               
                <td>
                    @if (item.CurrentRoles!=null && item.CurrentRoles.Any())
                    {
                        <ul>
                            @foreach (var role in item.CurrentRoles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No roles assigned</p>
                    }

                </td>
                <td>
                    <a class="btn btn-secondary" asp-route-Email=@item.Email asp-action="AssignRoles">Manage</a>
                </td>
            </tr>
        }
    </tbody>
</table>