@model List<TaskViewModel>

@{
    ViewData["Title"] = "Assign Tasks";
}

<div class="col-12 d-flex justify-content-center align-items-center mt-3">
    <header>
        <h4 style="color:gray;font-weight:400">Tasks: @ViewBag.Email</h2>
    </header>
</div>
<br />

@if (Model != null && Model.Any())
{
    <table class="table table-striped table-responsive w-100">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Target Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Name</td>
                    <td style="max-width: 275px; word-wrap: break-word;">
                        @task.Description
                    </td>
                    <td>@task.CreatedDate.ToString("dd MMMM yyyy")</td>
                    <td>@task.TargetDate.ToString("dd MMMM yyyy")</td>
                    <td style="color:@(task.Status == "Cancelled" || task.Status == "Onhold" ? "brown" : "seagreen")">
                        @task.Status
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="color:gray">No tasks has been assigned to this user yet</p>
}

<br/>
<div class="text-center mt-5">
    <a class="link-offset-2 link-underline link-underline-opacity-0"
       asp-controller="Admin" asp-action="Teams">
        <i class="fi fi-sr-arrow-left"
           style="vertical-align:middle;margin-right:3px"></i> Back to Manage Teams
    </a>
</div>